.App{
  background-image: url("../public/image.png");
}

.page-content{
  background-color: rgba(143, 143, 143, 0.65);
  width: 70%;
  margin: auto;
  height: 100%;

}

.riddle-card{

  background-color: #2b3c4c ;
  border-radius: 150px ;
  border-color: black ;


}

.filter-title{
  background-color: #4e727e;
  color: white;

}

.GIF{
  margin: auto;
  border: #2b3c4c;
}

.login{
  margin: auto;
  width:  75%;
  height: 50%;
  padding: 20px;
  border-radius: 12px;
  background: white;
  font-style: italic;
  font-family: "Montserrat SemiBold";
}

.add-form{
  background: white;
  width:  80%;
  padding: 20px;
  border-radius: 12px;
  margin: auto;


}

.login-btn{
  font-size: 16rem;
  margin-top: 15px;
}


.card-text{
  text-align: center;
  font-size: larger;
  font-style: italic;
  font-family: "Montserrat SemiBold";
}

.card-body{
  background-color: white;
  color: black;
}
.card-special{
  background-color: #2b3c4c !important;
}

.below-nav {
  padding-top: 7rem;
}

.nav-bar{
  background: #2b2b2b;
}

.logout-btn{
  margin-left: 1em !important;
}

.item-btn{
  background: transparent !important;
  border-color: white !important;
  font-style: oblique !important;
}

.diff-badge{
  font-family: "Montserrat ExtraLight";
}

.rank-table{
  width: 90% !important;
  margin : auto;

}

.hint{
  font-style: italic;
  margin-top: 1rem;
}
@font-face{
  font-family:'digital-clock-font';
  src: url('../public/digital-7.regular.ttf');
}

#timer{
  font-family:'digital-clock-font';
  font-size: xx-large;
}


